:root {
    --main-color: #7D55DB;
    --main-color-invers: white;
    --border-radius: 5px;
    --element-height: 40px;
    --button-width: 130px;
    --light-color: #bbb;
  }

body {
    color: #001530;
    margin: 0;
}

.number_keyboard {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    div {
        display: flex;
        flex: 0 0 33.333333%;
        text-align: center;
        height: 7vh;
        font-size: 4vh;
        border: 1px solid black;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}

form {
    margin: 8px;
    > div {
        margin-top: 16px;
    }
}
input {
    border: 1px solid var(--light-color);
    border-radius: var(--border-radius);
    height: var(--element-height);
    width: 100%;
    box-sizing: border-box;
    &.invalid {
        background-color: #f5a68c;
    }
}

input:focus {
    outline: 1px solid var(--main-color);
}

button {
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    color: var(--main-color-invers);
    border: 0px;
    height: var(--element-height);
    width: var(--button-width);
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

.heading_secton {
    width: 100%;
    background-color: var(--main-color);
    height: 20vh;
    border-radius: 0px 0px 20px 20px;
}

.check_box_group {
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    max-height: calc(var(--element-height)*4 + 10px);
    overflow: hidden;
    overflow-y: scroll;
    input {
        display: none;
    }
    div {
        height: var(--element-height);
        border-bottom: 1px solid var(--light-color);
        display: flex;
	    align-items: center;
        cursor: pointer;
        &.checked {
            background-color: var(--main-color);
            color: white;
        }
    }
    div:last-child {
        border-bottom: none;
    }
}