:root {
    --main-color: #7D55DB;
    --main-color-light: #b89cff;
    --main-color-invers: white;
    --border-radius: 5px;
    --element-height: 80px;
    --button-width: 130px;
    --light-color: #bbb;
  }

body {
    color: #001530;
    margin: 0;
}

h1 > small {
    font-size: 16px;
}

.number_keyboard {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    div {
        display: flex;
        flex: 0 0 33.333333%;
        text-align: center;
        height: 7vh;
        font-size: 4vh;
        border: 1px solid black;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}

form {
    > div {
        margin-top: 16px;
    }
}
input, select {
    border: 1px solid var(--light-color);
    border-radius: var(--border-radius);
    height: var(--element-height);
    width: 100%;
    box-sizing: border-box;
    font-size: 40px;
    &.invalid {
        box-shadow: inset 0px 0px 15px -3px #f5a68c;

    }
}

input:focus {
    outline: 1px solid var(--main-color);
}

button, .button {
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    color: var(--main-color-invers);
    border: 0px;
    height: var(--element-height);
    width: var(--button-width);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.heading_secton {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    height: 20vh;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 16px;
    box-sizing: border-box;
}

.check_box_group {
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    max-height: calc(var(--element-height)*4 + 10px);
    overflow: hidden;
    overflow-y: scroll;
    input {
        display: none;
    }
    div {
        height: var(--element-height);
        border-bottom: 1px solid var(--light-color);
        display: flex;
	    align-items: center;
        cursor: pointer;
        &.checked {
            background-color: var(--main-color);
            color: white;
        }
    }
    div:last-child {
        border-bottom: none;
    }
}

.linkList {
    > a, div {
        height: var(--element-height);
        display: flex;
        border-bottom: 1px solid var(--main-color);
        align-items: center;
        text-decoration: none;
        color: var(--main-color);
        font-size: 32px;
    }
}

.matchSet {
    background-color: var(--main-color-light);
    margin-bottom: 40px;
    > div {
        border-bottom: 1px solid var(--light-color);
        .information {
            display: flex;
            padding: 16px;
            align-items: center;
            gap: 24px;
            > * {
                flex-basis:  auto;
            }
            button {
                border-radius: 100%;
                width: 80px;
                height: 80px;
                box-sizing: border-box;
                padding: 0;
            }
            .wonLegsBox {
                background-color: var(--light-color);
                border-radius: var(--border-radius);
                > h5 {
                    margin: 8px;
                }
                > .numberOfLegs{
                    font-size: 32px;
                    background-color: var(--main-color);
                    border-radius: var(--border-radius);
                    color: #ff2929;
                }
                text-align: center;
            }
        }
    }
    border-radius: var(--border-radius);
}
